*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col {
    margin-right: 15px;
    margin-left: 15px;
}

.row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    flex-wrap: wrap;
}

.ml15 {
    margin-left: 15px;
}

.ml25 {
    margin-left: 25px;
}

.mt15 {
    margin-top: 15px;
}

.mb30 {
    margin-bottom: 30px;
}

.container {
    max-width: 1170px;
    margin: auto;
}

a {
    text-decoration: none;
}

.header {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.05);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
}

.logo i {
    color: #5A67D8;
    font-size: 40px;
    margin-right: 12px;
}

.logo-title {
    display: flex;
    font-family: 'Hind', sans-serif;
    font-size: 600;
    font-size: 28px;
}

ul li {
    list-style: none;
    margin-right: 12px;
}

img {
    max-width: 100%;
    display: block;
}

.btn-toogle-menu {
    display: none;
}

#toggle-menu {
    display: none;
}

.menu-list {
    display: flex;
    font-size: 18px;
    font-family: 'Hind', sans-serif;
    font-weight: 500;
    color: #718096;
}

.menu-list-active {
    color: #5A67D8;
}

.hero {
    background: #F4F4F4;
    padding: 72px 0;
}


/* .hero-content {
    width: 1170px;
    margin: auto;
} */

.categories {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    text-align: center;
}

.hero-content .category {
    width: calc(25% - 30px);
    background-color: #FFFFFF;
    margin-left: 15px;
    margin-right: 15px;
    background: #FFFFFF;
    box-shadow: 1px 1px 5px rgba(1, 1, 1, 0.05);
    border-radius: 15px;
    height: 106px;
}

.category-content {
    margin-top: 20px;
}

.category-icon {
    color: #5A67D8;
}

.category-title {
    font-family: 'Hind', sans-serif;
    font-size: 20px;
    font-weight: 700;
    align-items: center;
    margin-top: 7px;
    color: #718096;
}

.hero-article {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    align-items: center;
}

.hero-article .info {
    width: calc(65% - 30px);
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 144px;
    margin-bottom: 160px;
}

.info .article-category {
    font-family: 'Hind', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #5A67D8;
    background: rgba(90, 103, 216, 0.05);
    border-radius: 15px;
    flex-direction: row;
    align-items: flex-start;
    padding: 5.2px 19.43px 4.8px 20px;
}

.info .article-title {
    color: #2D3748;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 45px;
    margin-top: 23px;
}

.info .article-desc {
    font-family: 'Hind', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #718096;
    margin-top: 23px;
}

.hero-article .thumb {
    width: calc(35% - 30px);
    margin-left: 15px;
    margin-right: 15px;
}

.hero-article .thumb img {
    border-radius: 15px;
}

.editor {
    background-color: #F8F9FA;
    padding-top: 98px;
    padding-bottom: 115px;
}

.editor-pick-topics-content {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.editor-pick {
    width: calc(65% - 30px);
    margin-left: 15px;
    margin-right: 15px;
}

.editor-pick-title {
    margin-top: 97px;
    margin-bottom: 25px;
    color: #2D3748;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 26px;
}

.editor-pick-content {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 50px;
}

.editor-pick-content .editor-article {
    width: calc(50% - 30px);
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 1px 1px 5px rgba(1, 1, 1, 0.05);
}

.editor-article-img {
    border-radius: 15px 15px 0px 0px;
    margin-bottom: 25px;
}

.editor-article-info {
    border-radius: 0 0 15px 15px;
}

.editor-article-info-category {
    font-family: 'Hind', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #5A67D8;
    background: rgba(90, 103, 216, 0.05);
    border-radius: 15px;
    flex-direction: row;
    align-items: flex-start;
    padding: 5.2px 19.43px 4.8px 20px;
    margin-left: 25px;
}

.editor-article-hero-content {
    padding: 25px;
}

.editor-article-info-title {
    margin-top: 15px;
    font-family: 'Hind', sans-serif;
    font-size: 21px;
    font-weight: 700;
    color: #2D3748;
}

.editor-article-info-desc {
    margin-top: 16px;
    font-family: 'Hind', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #718096;
    margin-bottom: 20px;
}

.editor-article-info-more {
    display: flex;
    align-items: center;
    margin-top: auto;
}

.editor-article-info-more-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.editor-article-info-more-author {
    margin-left: 10px;
}

.editor-article-info-more-name {
    font-family: 'Hind', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #2D3748;
}

.editor-article-info-more-author-content {
    display: flex;
    color: #718096;
    font-family: 'Hind', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.editor-article-info-more-author-content-icon {
    color: #718096;
    margin-left: 11px;
}

.advertise {
    margin-top: 24px;
    padding-bottom: 114px;
    background: #FFFFFF;
    box-shadow: 1px 1px 5px rgba(1, 1, 1, 0.05);
    border-radius: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.advertise-content {
    color: #2D3748;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 26px;
    margin-left: 24px;
}

.advertise-btn {
    font-family: 'Hind', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background: #5A67D8;
    border: 1px solid #5A67D8;
    border-radius: 6px;
    padding: 13px 36px;
    margin-right: 16px;
    cursor: pointer;
}

.editor-topics {
    width: calc(35% - 30px);
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 97px;
}

.editor-topic-title {
    color: #2D3748;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 25px;
}

.editor-topics .topic {
    display: flex;
    align-items: center;
    color: #718096;
    background: #FFFFFF;
    box-shadow: 1px 1px 5px rgba(1, 1, 1, 0.05);
    border-radius: 15px;
    margin-bottom: 16px;
}

.topic-icon {
    width: 80px;
    height: 55px;
    background: #E2E8F0;
    border-radius: 15px 0px 0px 15px;
    align-items: center;
}

.topic-icon i {
    padding: 17px 30px;
}

.topic-content {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 17px;
    margin: 17px 0;
    margin-left: 50px;
}

.sponsers {
    margin-top: 50px;
}

.sponsers-title {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 26px;
    color: #2D3748;
    margin-bottom: 25px;
}

.sponsers-img {
    /* width: 369px;
    height: 268px; */
    border-radius: 15px;
}

.sponsers-info {
    font-family: 'Hind', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #718096;
    text-align: center;
}

.this-month {
    background-color: #FFFFFF;
}


/* .this-month-hero {
    width: 1170px;
    margin: auto;
} */

.this-month-title {
    margin-top: 97px;
    margin-bottom: 25px;
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: 900;
    font-size: 26px;
}

.this-month-content {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    color: #FFFFFF;
    margin-bottom: 96px;
}

.this-month-content-title {
    font-family: 'Hind', sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin-top: 200px;
    margin-left: 40px;
    margin-bottom: 16px;
}

.this-month-content .item {
    width: calc(100%/3 - 30px);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    display: flex;
}

.item::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.432);
}

.item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-content {
    position: absolute;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    padding: 40px;
    bottom: 0;
}

.item-title {
    font-family: 'Hind';
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.style {
    background-color: #F8F9FA;
}


/* .style-hero {
    width: 1170px;
    margin: auto;
} */

.style-title-view {
    display: flex;
    justify-content: space-between;
}

.style-title {
    font-family: 'Libre Baskerville';
    font-weight: 700;
    font-size: 26px;
    color: #2D3748;
    margin-top: 97px;
    margin-bottom: 44px;
}

.style-view-more {
    background: #E2E8F0;
    border-radius: 15px;
    font-family: 'Hind';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 6px 20px;
    margin-top: 97px;
    margin-bottom: 44px;
}

.style-content {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.style-content article {
    width: calc(100% / 3 - 30px);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 95px;
    background: #FFFFFF;
    box-shadow: 1px 1px 5px rgba(1, 1, 1, 0.05);
    border-radius: 15px;
}

.style-content-img {
    border-radius: 15px 15px 0px 0px;
}

.style-content-info-title {
    font-family: 'Hind';
    font-weight: 700;
    font-size: 21px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.beauty {
    background-color: #F4F4F4;
}


/* .beauty-hero {
    width: 1170px;
    margin: auto;
} */

.beauty-title-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.beauty-title {
    margin-top: 97px;
    margin-bottom: 45px;
    font-family: 'Libre Baskerville';
    font-weight: 700;
    font-size: 26px;
    color: #2D3748;
}

.beauty-view-more {
    margin-top: 97px;
    margin-bottom: 38px;
    background: #E2E8F0;
    border-radius: 15px;
    font-family: 'Hind';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 6px 20px;
}

.beauty-row1,
.beauty-row2 {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.beauty-article-hero-content {
    padding: 25px 15px;
}

.beauty-row2 {
    margin-top: 24px;
}

.beauty-row1-content,
.beauty-row2-content {
    width: calc(100% /2 - 30px);
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 1px 1px 5px rgba(1, 1, 1, 0.05);
}

.beauty-row1-content-img {
    width: 220px;
    border-radius: 15px 0px 0px 15px;
}

.beauty-row1-content-info {
    border-radius: 0 15px 15px 0;
    background-color: #FFFFFF;
    flex: 1;
    padding: 30px;
}

.row1-content-info-title {
    margin-bottom: 16px;
    margin-top: 46px;
    color: #2D3748;
    font-family: 'Hind';
    font-weight: 700;
    font-size: 22px;
}

.beauty-row2-content {
    margin-bottom: 96px;
}

.trending-fluid {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    background: #F8F9FA;
}

.trending-title {
    padding-top: 97px;
    margin-bottom: 25px;
    margin-left: 20px;
    color: #2D3748;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 26px;
}

.trending-hero {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 96px;
}

.sports {
    width: calc(50% - 30px);
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    background: #FFFFFF;
    box-shadow: 1px 1px 5px rgba(1, 1, 1, 0.05);
    border-radius: 15px;
}

.sports-img {
    border-radius: 15px 0px 0px 15px;
    width: 293px;
}

.sports-content {
    flex: 1;
    padding: 46px 0px 46px 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.fitness {
    width: calc(50% - 30px);
    background: #FFFFFF;
    box-shadow: 1px 1px 5px rgba(1, 1, 1, 0.05);
    border-radius: 15px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
}

.fitness-img {
    border-radius: 15px 0px 0px 15px;
    width: 293px;
}

.fitness-content {
    flex: 1;
    padding: 46px 0px 46px 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.subscribe {
    background-color: #F4F4F4;
    padding-top: 97px;
    padding-bottom: 97px;
}

.subscribe .hero {
    border-radius: 15px;
    background: #FFFFFF;
    text-align: center;
    padding-top: 97px;
    padding-bottom: 97px;
}

.subscribe-title {
    margin-bottom: 9px;
    font-family: 'Libre Baskerville';
    font-weight: 700;
    font-size: 26px;
    color: #2D3748;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe-content {
    font-family: 'Hind';
    font-weight: 400;
    font-size: 18px;
    color: #718096;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe-btn {
    padding: 13px 36px;
    margin-bottom: 95px;
    margin: auto;
    display: block;
    font-family: 'Hind';
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    background: #5A67D8;
    border: 1px solid #5A67D8;
    border-radius: 6px;
    cursor: pointer;
}

.footer {
    margin: 64px auto;
}

.footer-hero {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.footer-newblog {
    width: calc(30% - 30px);
    margin-left: 15px;
    margin-right: 15px;
}

.footer-newblog-info {
    margin-top: 12px;
    margin-bottom: 11px;
    font-family: 'Hind';
    font-weight: 400;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #718096;
}

.footer-newblog-content {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #2D3748;
}

.footer-newblog-content span {
    color: #5A67D8;
}

.footer-categories {
    width: calc(70% - 30px);
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-wrap: wrap;
}

.footer-categories-useful,
.footer-categories-categorie,
.footer-categories-social {
    width: calc(100% / 3 - 30px);
    margin-left: 15px;
    margin-right: 15px;
}

.footer-categories-useful-title,
.footer-categories-categorie-title,
.footer-categories-social-title {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #2D3748;
    margin-bottom: 21px;
}

.footer-categories-useful ul,
.footer-categories-categorie ul,
.footer-categories-social ul {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    color: #718096;
}