*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 300px;
    height: 300px;
    margin: 50px auto;
    background-color: gold;
    border-left: 0px solid red;
    position: relative;
}

.line-left {
    width: 5px;
    height: 0;
    background-color: red;
    transition: 1s;
    position: absolute;
    left: 0;
    bottom: 0;
}

.line-right {
    width: 5px;
    height: 0;
    background-color: blue;
    transition: 1s;
    position: absolute;
    right: 0;
    top: 0;
}

.line-top {
    width: 0;
    height: 5px;
    background-color: aqua;
    transition: 1s;
    position: absolute;
    left: 0;
    top: 0;
}

.line-bottom {
    width: 0;
    height: 5px;
    background-color: purple;
    transition: 1s;
    position: absolute;
    right: 0;
    bottom: 0;
}

.box:hover .line-left,
.box:hover .line-right {
    height: 100%;
}

.box:hover .line-top,
.box:hover .line-bottom {
    width: 100%;
}