body {
    font-family: sans-serif;
}

h1 {
    font-weight: lighter;
    text-align: center;
    font-size: 40px;
}

.highlight {
    font-weight: bold;
    font-style: italic;
}

#frontend {
    color: #1d6e09;
    text-decoration: underline;
}

p {
    font-size: 24px;
}

h2 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: orange
}

a:hover {
    color: red;
    text-decoration: underline;
}

ul li {
    list-style-type: square;
}