*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 300px;
    height: 300px;
    margin: 50px auto;
    background-color: gold;
    border-left: 0px solid red;
    position: relative;
}

.box::before {
    content: "";
    width: 5px;
    height: 0;
    background-color: red;
    transition: 0.5 s;
    position: absolute;
    left: 0;
    bottom: 0;
    transition-delay: 2s;
}

.box::after {
    content: "";
    width: 5px;
    height: 0;
    background-color: blue;
    transition: 0.5s;
    position: absolute;
    right: 0;
    top: 0;
    transition-delay: 1s;
}

.box:hover::after,
.box:hover::before {
    height: 100%;
}

.line-top {
    width: 0;
    height: 5px;
    background-color: aqua;
    transition: 0.5s;
    position: absolute;
    left: 0;
    top: 0;
}

.line-bottom {
    width: 0;
    height: 5px;
    background-color: purple;
    transition: 0.5s;
    position: absolute;
    right: 0;
    bottom: 0;
    transition-delay: 1.5s;
}

.box:hover .line-top,
.box:hover .line-bottom {
    width: 100%;
}