body {
    padding-top: 100px;
    background-color: aqua
}

.container {
    margin: auto;
    width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

h2 {
    margin-bottom: 5px;
    font-size: 20px;
    color: red;
}

h1 {
    margin-top: 0px;
    color: aquamarine;
    font-size: 40px;
}

p {
    font-size: 28px;
    color: aqua;
}

button {
    font-size: 20px;
    color: white;
    padding: 30px 40px;
    background: black;
    border-radius: 8px;
}