*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

thead {
    background: #415466;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    text-align: left;
    height: 50px;
}

table {
    width: 100%;
}

p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    color: #415466;
}

td,
th {
    padding: 15px 10px;
}

input {
    width: 65px;
    height: 30px;
    color: #333;
    background-color: #FFFFFF;
    border: 1px solid black;
    padding: 6px 8px;
}

table,
td,
th {
    border-bottom: 1px solid #DEE2E6;
    border-collapse: collapse;
}

.table tbody .button {
    width: 65px;
    height: 30px;
    background-color: #333;
}

.table tbody tr:nth-child(odd) {
    background-color: #DEE2E6;
}

.active {
    background-color: #37B99B;
    border: 1px solid #117A8B;
    font-size: 16px;
    font-weight: 400;
    border-radius: 15px;
    padding: 10px;
    color: #FFFFFF;
}

.no-active {
    border: 1px solid #117A8B;
    background-color: #2CA2B6;
    font-size: 16px;
    font-weight: 400;
    border-radius: 15px;
    padding: 10px;
    color: #FFFFFF;
}

.pen {
    background-color: #37B99B;
    border: 1px solid #299F86;
    padding: 7px 9px 9px 9px;
    display: inline-block;
    border-radius: 30px;
}

.trash {
    background-color: red;
    border: 1px solid red;
    padding: 7px 9px 9px 9px;
    display: inline-block;
    border-radius: 30px;
}

.react {
    background-color: #6D757D;
    border: 1px solid #4E555B;
    padding: 7px 9px 9px 9px;
    display: inline-block;
    border-radius: 30px;
}